.container{
	background-image:url(./ladki.jpg);
	 height: 100%;
	 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height:600px;
	

}
