.Back{
	 display:flex;
   justify-content:center; /* horizontally center */
   align-items:center;    /* vertically center */
   height:300px;
   width:300px;
   
}
.Back img{
  max-width:100%;
  max-height:100%;
}